@{
    Layout = "~/Views/Shared/_TwoColumnLayout.cshtml";
}
@{
    ViewData["Title"] = "Dashboard";
}
 
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-md-12 ">
                    <!-- <div class="hld-left m-0 mt-md-3"> -->
                    <div class="m-0 mt-md-3">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <h1 class="heading text-uppercase">Electricity Meter Management</h1>
                                <h2 class="h2-heading">Welcome, @ViewBag.FirstName !</h2>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


