<footer class="footer mt-lg-0 mt-3">
    <p class="mb-0">
        Copyright
        <script>document.write(new Date().getFullYear())</script> Punjab State Power Corporation Limited PSEB
        Head Office, The MALL, Patiala. All rights reserved.
    </p>
</footer>