<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] Login</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">
    <!-- SEO Start-->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- SEO End-->
    <meta name="theme-color" content="#016c9a" />
    <meta name="msapplication-navbutton-color" content="#016c9a" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#016c9a" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS Start -->
    <link href="~/css/main.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/fontawesome.css" rel="stylesheet" />
    <!-- Footable CSS Start-->
    <link href="~/css/footable.bootstrap.min.css" rel="stylesheet" />
    <!-- Footable CSS End-->
    <link href="~/css/screen.css" rel="stylesheet" />

</head>

<body class="login-body">

    <!-- HTML Start -->
    <div>
        <section>
            <div class="container">
                <div class="mx-auto ">
                    <div class=" mt-5 mb-4 text-center">
                        <a class="navbar-brand" href="#">
                            <img src="~/images/transparent-logo.png" alt="Punjab State Power Corporation Limited" height="54">
                        </a>
                        <div class="company-title1 font-weight-bold">
                            Punjab State Power Corporation Limited
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-5 mx-3 p-5 rounded form-background">
                            <div class="mb-3" id="loginDiv">
                                <h3>Login</h3>
                            </div>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    
    <!-- JS Start -->
    <script src="js/main.min.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src="js/metisMenu.min.js"></script>
    <script src="js/common.ui.js"></script>
    <!-- Footable JS Start-->
    <!-- JS End -->
   
</body>

</html>